<!--<div style="text-align:left">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <nav>
    <a routerLink="/home" [class.active]="status" (click)="status = true">Home</a> &nbsp;
    <a routerLink="/about" [class.active]="status" (click)="status = true">About</a>   &nbsp;
    <a routerLink="/dashboard" [class.active]="status" (click)="status = true">Dashboard</a>
   </nav>
  <h2>Hello to all</h2>
  <router-outlet></router-outlet>
</div> 


<employees-list></employees-list>

-->

<app-binding></app-binding>



